.header{
  text-align: center; 
}

.footer{
	 align-items: center;
	 text-align: center;
  }

.notfound{
  color: red;
  background-color: black;
}

.cat-index-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.attributes{
  text-align:center
}



